{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            {% for i in catgs %}
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="card">

                    <img class="img-fluid" src="{{i.img.url}}" alt="" style="height:200px;width:200px" >
                    <a class="btn hvr-hover" href={{i.get_url}}>{{i.ctname}}</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
    <!-- End Categories -->


    <!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>products available</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                    </div>
                </div>
            </div>
        </div>

<!--  individual product section-->
        <div class="row special-list">

            {% for i in pg.object_list %}

            <div class="col-lg-3 col-md-6 special-grid top-featured">
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">Sale</p>
                        </div>
                        <br><br>
                                 <a href={{i.get_url}}><img src="{{i.img.url}}" class="img-fluid"  alt="" style="width:100px;height:100px;"></a>
                    </div>
                    <div class="why-text">
                        <h4>{{i.desc|truncatechars:7}}</h4>
                        <h5>{{i.price}} RS\-</h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!--                        <div class="mask-icon">-->
<!--                            <ul>-->
<!--                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>-->
<!--                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>-->
<!--                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>-->
<!--                            </ul>-->
<!--                                <a class="cart" href="#">Add to Cart</a>-->
<!--                            <a href={{i.get_url}}>{{i.name}}</a>-->
<!--                        </div>-->


    <!-- End Products  -->
<div class="box-add-products">
    <div class="container">
        <div class="row">
            ---------offers------------
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="offer-box-products">
                    <img class="img-fluid" src="{% static 'hm/images/add-img-02.jpg' %}" alt="" />
                </div>
            </div>
        ------------------------
        </div>
        <section>
            <center>
            {% for i in pg.paginator.page_range %}
                <a href="?page={{i}}" class ="btn btn-light btn-sm {% if pg.number == i %} active {% endif %}">{{i}}</a>
            {% endfor %}


            </center>
        </section>
    </div>

</div>


{% endblock %}