
{% load static %}
<a class="navbar-brand" href="/"><img src="{% static 'hm/images/logo.png' %}" class="logo" alt=""></a>

<form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <center><h1> Login Page</h1> </center>
    <hr>
    <label><b>User Name:</b></label><br>
    <input type="text" name="Username" placeholder= "Username"  required ><br>
    <label for="psw"><b>Password:</b></label><br>
    <input type="password" placeholder="Enter Password" name="psw"  required><br>
    <button type="submit" class="btn btn-primary">login</button>
  </div>
</form>
{% if messages %}
  <ul class="messages" style="color:green;">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}><b>status message: &nbsp;{{ message }}</b></li>
    {% endfor %}
  </ul>
{% endif %}
<button type="submit" class="btn btn-success"><a href="{% url 'appointment' %}">Register</a></button>


